<a href="https://colab.research.google.com/github/akashkorupolu/gitt/blob/master/nn1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('/content/NN Project Data - Signal.csv')

In [5]:
df.columns

Index(['Parameter 1', 'Parameter 2', 'Parameter 3', 'Parameter 4',
       'Parameter 5', 'Parameter 6', 'Parameter 7', 'Parameter 8',
       'Parameter 9', 'Parameter 10', 'Parameter 11', 'Signal_Strength'],
      dtype='object')

In [6]:
df.shape

(1599, 12)

In [11]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Parameter 1,1599.0,8.319637,1.741096,4.60000,7.1000,7.90000,9.200000,15.90000
Parameter 2,1599.0,0.527821,0.179060,0.12000,0.3900,0.52000,0.640000,1.58000
Parameter 3,1599.0,0.270976,0.194801,0.00000,0.0900,0.26000,0.420000,1.00000
Parameter 4,1599.0,2.538806,1.409928,0.90000,1.9000,2.20000,2.600000,15.50000
Parameter 5,1599.0,0.087467,0.047065,0.01200,0.0700,0.07900,0.090000,0.61100
Parameter 6,1599.0,15.874922,10.460157,1.00000,7.0000,14.00000,21.000000,72.00000
Parameter 7,1599.0,46.467792,32.895324,6.00000,22.0000,38.00000,62.000000,289.00000
Parameter 8,1599.0,0.996747,0.001887,0.99007,0.9956,0.99675,0.997835,1.00369
Parameter 9,1599.0,3.311113,0.154386,2.74000,3.2100,3.31000,3.400000,4.01000
Parameter 10,1599.0,0.658149,0.169507,0.33000,0.5500,0.62000,0.730000,2.00000
Parameter 11,1599.0,10.422983,1.065668,8.40000,9.5000,10.20000,11.100000,14.90000
Signal_Strength,1599.0,5.636023,0.807569,3.00000,5.0000,6.00000,6.000000,8.00000

In [12]:
df.dtypes

Parameter 1        float64
Parameter 2        float64
Parameter 3        float64
Parameter 4        float64
Parameter 5        float64
Parameter 6        float64
Parameter 7        float64
Parameter 8        float64
Parameter 9        float64
Parameter 10       float64
Parameter 11       float64
Signal_Strength      int64
dtype: object

In [18]:
null=df.isnull().value_counts()
null.head()

Parameter 1  Parameter 2  Parameter 3  Parameter 4  Parameter 5  Parameter 6  Parameter 7  Parameter 8  Parameter 9  Parameter 10  Parameter 11  Signal_Strength
False        False        False        False        False        False        False        False        False        False         False         False              1599
Name: count, dtype: int64

In [19]:
missing_percentage = (df.isnull().sum() / len(df)) * 100
missing_percentage

Parameter 1        0.0
Parameter 2        0.0
Parameter 3        0.0
Parameter 4        0.0
Parameter 5        0.0
Parameter 6        0.0
Parameter 7        0.0
Parameter 8        0.0
Parameter 9        0.0
Parameter 10       0.0
Parameter 11       0.0
Signal_Strength    0.0
dtype: float64

In [20]:
df.isna().sum()

Parameter 1        0
Parameter 2        0
Parameter 3        0
Parameter 4        0
Parameter 5        0
Parameter 6        0
Parameter 7        0
Parameter 8        0
Parameter 9        0
Parameter 10       0
Parameter 11       0
Signal_Strength    0
dtype: int64

In [29]:

duplicate = df[df.duplicated()]
duplicate.value_counts()

Parameter 1  Parameter 2  Parameter 3  Parameter 4  Parameter 5  Parameter 6  Parameter 7  Parameter 8  Parameter 9  Parameter 10  Parameter 11  Signal_Strength
6.7          0.460        0.24         1.7          0.077        18.0         34.0         0.99480      3.39         0.60          10.6          6                  3
7.5          0.510        0.02         1.7          0.084        13.0         31.0         0.99538      3.36         0.54          10.5          6                  3
7.2          0.695        0.13         2.0          0.076        12.0         20.0         0.99546      3.29         0.54          10.1          5                  3
             0.360        0.46         2.1          0.074        24.0         44.0         0.99534      3.40         0.85          11.0          7                  3
7.0          0.690        0.07         2.5          0.091        15.0         21.0         0.99572      3.38         0.60          11.3          6                  2
                                                                                                                                                                   ..
13.0         0.470        0.49         4.3          0.085        6.0          47.0         1.00210      3.30         0.68          12.7          6                  1
13.2         0.460        0.52         2.2          0.071        12.0         35.0         1.00060      3.10         0.56          9.0           6                  1
13.7         0.415        0.68         2.9          0.085        17.0         43.0         1.00140      3.06         0.80          10.0          6                  1
15.0         0.210        0.44         2.2          0.075        10.0         24.0         1.00005      3.07         0.84          9.2           7                  1
15.5         0.645        0.49         4.2          0.095        10.0         23.0         1.00315      2.92         0.74          11.1          5                  1
Name: count, Length: 220, dtype: int64

In [30]:
df.drop_duplicates(keep='first',inplace=True)

In [31]:
df.duplicated().sum()

np.int64(0)